@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

img {
    border: 0;
    outline: none;
}

.cont_center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invisible {
    visibility: hidden;
}

/* Nav */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1rem;
    height: 11vh;
    font-size: 17px;
    background-color: rgb(233, 233, 233);
    box-shadow: 0px 0px 10px rgb(186, 186, 186);

    z-index: 100;
}

.nav_first_child {
    display: flex;
    align-items: center;
}

.nav_second_child {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-right: 1rem;
}

nav ul {
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #000;

    transition: all 0.5s ease;
}

nav a:hover {
    color: rgb(69, 193, 250);
}

.logo {
    height: 70px;

    cursor: pointer;
}

.nav_profile {
    width: 50px;
    height: 50px;
    border-radius: 1000000px;

    cursor: pointer;
}

.dashboard {
    display: flex;
    height: 89vh;
}

/* Directory */

.directory {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid rgb(228, 228, 228);

    overflow: scroll;
}

/* Search */

.member_search_form {
    display: flex;
    align-items: center;
    margin: 2rem 0 1rem 2rem;
    padding: 0.25rem 1rem;
    width: fit-content;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 2px rgb(188, 188, 188);
}

.member_search_input {
    padding: 0.75rem;
    background-color: #f9f9f9;
    border: none;

    font-size: 16px;
}

.member_search_input:focus {
    outline: none;
}

/* Directory Item */

.dir_item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgb(193, 193, 193);

    cursor: pointer;
    transition: all 0.5s ease;
}

.dir_item:hover {
    background-color: rgb(193, 193, 193);
}

.user_name {
    font-weight: 800;
    font-size: 17px;
}

.user_email {
    font-size: 12px;
}

.user_number {
    font-size: 12px;
}

.item_img {
    width: 65px;
    height: 65px;
    border-radius: 100000px;
}

/* Dashboard User Selected */

.dir_user_selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    width: 50%;

    overflow: scroll;
}

.selected_aep {
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.selected_aep div {
    text-align: center;
    flex: 1;
}

.selected_profile {
    width: 300px;
    height: 300px;
    border-radius: 1000000px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 3.5rem;
    width: 40vw;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(186, 186, 186);
    text-align: center;
}

.register_form {
    min-height: 80vh;
}

.session_form {
    min-height: 35vh;
}

.form input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 16px;
}

.register_inputs_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.register_submit {
    margin: 0 auto;
    padding: 1rem 0;
    width: 60%;
    background-color: rgb(70, 153, 255);
    border: 1.5px solid rgb(70, 153, 255);
    border-radius: 20px;
    color: #fff;

    transition: all 0.5s ease;
    cursor: pointer;
}

.register_submit:hover {
    color: rgb(70, 153, 255);
    background-color: #fff;
}

.logout_form {
    background-color: none;
}

.logout {
    background-color: rgb(233, 233, 233);
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 17px;

    cursor: pointer;
}

.note_form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 35%;

    border: 1px solid rgb(128, 128, 128);
    border-radius: 12px;
}

.note_form textarea {
    margin-bottom: 1rem;
    padding: 1rem 0;
    height: 100px;
    background: none;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 14px;

    border-bottom: 1px solid;
}

.note_form input {
    background: none;
    border: none;
    outline: none;

    font-size: 20px;
}

.note_form button {
    width: fit-content;
    padding: 0.4rem 2rem;
    background-color: rgb(69, 193, 250);
    color: #fff;
    border: 1.5px solid rgb(69, 193, 250);
    border-radius: 17px;

    transition: all 0.5s ease;
    cursor: pointer;
}

.note_form button:hover {
    color: rgb(69, 193, 250);
    background-color: #fff;
}

.float_right {
    display: flex;
    justify-content: flex-end;
}

.notes_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
}

.note {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem 2rem;
    width: 60%;
    background-color: rgb(241, 241, 241);
    border-left: 3px solid rgb(69, 193, 250);
    border-radius: 0 15px 15px 0;

    overflow: scroll;
}

.note_for {
    font-size: 50px;
}

.note_info {
    display: flex;
    justify-content: space-between;

    font-size: 12px;
}

.note_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note_delete {
    border: none;
    background-color: none;
    font-weight: 500;
    font-size: 20px;

    cursor: pointer;
    transition: all 0.5s ease;
}
.note_delete:hover {
    color: rgb(122, 122, 122);
}

.go_back {
    position: fixed;
    bottom: 0.5rem;
    left: 0;
}

.link {
    color: rgb(69, 193, 250);
    text-decoration: none;
    padding: 0 1rem;
    font-weight: 700;

    transition: all 0.3s ease;
}
.link:hover {
    color: rgb(53, 155, 244);
}

/* Add to resources when done */

.payment_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;

    border: 1px solid rgb(128, 128, 128);
    border-radius: 12px;
}

.payment_form h1 {
    text-align: center;
}

.currency_input {
    width: fit-content;
    border: 1px solid black;
    outline: none;
    border-radius: 15px;
    text-align: center;

    font-size: 60px;
}
.currency_input::placeholder {
    color: #000;
}

.card-element {
}

.payment_form button {
    width: fit-content;
    padding: 0.4rem 2rem;
    border-radius: 17px;

    transition: all 0.5s ease;
    cursor: pointer;
}

.payment_once_button {
    background-color: rgb(69, 193, 250);
    color: #fff;
    border: 1.5px solid rgb(69, 193, 250);
}
.payment_once_button:hover {
    color: rgb(69, 193, 250);
    background-color: #fff;
}

.subscription_button {
    color: rgb(0, 118, 235);
    background-color: #fff;
    border: 1.5px solid rgb(0, 118, 235);
}
.subscription_button:hover {
    color: #fff;
    background-color: rgb(0, 118, 235);
}

.payment_btn_cont {
    gap: 0.75rem;
}

.payment_methods {
    display: flex;
    flex-direction: column;
}
