@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

.cont_center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: rgb(233, 233, 233);
    box-shadow: 0px 0px 10px rgb(186, 186, 186);

    z-index: 100;
}

.nav_first_child {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #000;

    transition: all 0.5s ease;
}

nav a:hover {
    color: rgb(69, 193, 250);
}

.logo {
    height: 70px;

    cursor: pointer;
}

.nav_profile {
    width: 50px;
    height: 50px;
    border-radius: 1000000px;

    cursor: pointer;
}

.dashboard {
    display: flex;
}

/* Directory */

.directory {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    width: 50%;
}

/* Search */

.member_search_form {
    display: flex;
    align-items: center;
    padding: 0.25rem 1rem;
    width: fit-content;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 2px rgb(188, 188, 188);
}

.member_search_input {
    padding: 0.75rem;
    background-color: #f9f9f9;
    border: none;

    font-size: 16px;
}

.member_search_input:focus {
    outline: none;
}

/* Directory Item */

.dir_item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgb(193, 193, 193);

    cursor: pointer;
    transition: all 0.5s ease;
}

.dir_item:hover {
    background-color: rgb(193, 193, 193);
}

.user_name {
    font-weight: 800;
    font-size: 17px;
}

.user_email {
    font-size: 12px;
}

.user_number {
    font-size: 12px;
}

.item_img {
    width: 65px;
    height: 65px;
    border-radius: 100000px;
}

/* Dashboard User */

.dash-user_selected {
    width: 50%;
    height: 100%;
    overflow: scroll;
}
