.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 3.5rem;
    width: 40vw;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(186, 186, 186);
    text-align: center;
}

.register_form {
    min-height: 80vh;
}

.session_form {
    min-height: 35vh;
}

.form input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 16px;
}

.register_inputs_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.register_submit {
    margin: 0 auto;
    padding: 1rem 0;
    width: 60%;
    background-color: rgb(70, 153, 255);
    border: 1.5px solid rgb(70, 153, 255);
    color: #fff;

    transition: all 0.5s ease;
    cursor: pointer;
}

.register_submit:hover {
    color: rgb(70, 153, 255);
    background-color: #fff;
}

.logout_form {
    background-color: none;
}

.logout {
    background-color: rgb(233, 233, 233);
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 17px;

    cursor: pointer;
}
